@import 'nib'

html, body
  width 100%
  min-height 100%
  margin 0
  padding 0

body
  font 14px/1em Futura, Arial, sans-serif
  color #333
  background #eee
  background linear-gradient(top, #eee, white)
